div.brkpoints {
    background-color: #04CC04;
    padding: 10px;
    margin-bottom: 20px;
    float: left;
    left: 20px !important;
    position: absolute !important;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    z-index: 999;
}